*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azul-marinho:#120a8f;
    --azul-claro:#64cef1cb;
    --black:#000;
    --yellowgreen:chartreuse;
    --gray:#a3ad9a;
}


nav{
    text-align: center;
    background:linear-gradient(to left,chartreuse,#120a8f,#64cef1cb);
    padding: 30px;
   
    
}
  
li,a{
    text-decoration: none;
    display: inline;
    word-spacing: 50px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--gray);

    

}

li:hover{
    background:var(--black);
    border-radius: 10px;
    padding: 10px;

}



video{
    position:fixed; 
    width: 100%;

   
}


